<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Transcripción</title>
</head>

<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl w-full bg-white p-12 rounded-lg shadow-md">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Sube archivos de audio para transcribir y analizar</h1>

            <form method="POST" enctype="multipart/form-data" class="space-y-8">
                <div>
                    <label class="block text-lg font-medium text-gray-700" for="file">Archivos de audio</label>
                    <input type="file" name="files" accept="audio/*" multiple
                        class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg">
                </div>
                <div>
                    <input type="submit" value="Subir y Analizar"
                        class="w-full flex justify-center py-3 px-5 border border-transparent rounded-md shadow-sm text-lg font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                </div>
            </form>

            {% if results %}
            <div class="mt-8">
                {% for result in results %}
                <div class="mt-8">
                    <h2 class="text-2xl font-semibold text-gray-800">Transcripción del archivo {{ result.filename }}:</h2>
                    <p class="mt-4 text-gray-700">{{ result.transcription }}</p>
                    <h3 class="text-2xl font-semibold text-gray-800 mt-4">Análisis:</h3>
                    <div class="mt-4 text-gray-700">{{ result.analysis | safe }}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>
